@import "tailwindcss";



@font-face {
  font-family: "HelveticaCustom";
  src: url("./fonts/helvetica-w01-roman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
   font-display: swap;
}

:root {
  --background: #0c0054;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0054;
    --foreground: #fff;
  }
}
@theme{
    --color-background: #0c0054;
    --color-foreground: #fff;
    --color-primary: #0c0054;
    --color-blue-2: #160770;
    --color-blue-2-grad:#040019;
    --color-blue-3: #1A6AFF;
    --color-blue-bg:#e3eaf4;
    --color-secondary: #ff914d;
    --color-warning:#df3131;

}

 
body {
  background: var(--color-background);
  color: var(--color-foreground);

  
}


.font-helvetica {
  font-family: "HelveticaCustom", sans-serif;
}
.font-arial{
  font-family: 'Arial Black',Arial, Helvetica, sans-serif;
}
/* dynamic text sizes */

.heading1 {
  font-size: max(0px, min(500px, max(0.5px, 0.0666667 * (100vw - 15px))))  ;
}
  .heading2 {
    font-size: max(0.5px, 0.05333333 * (100vw - 0px)) !important;
  }
   .heading2v2 {
    font-size: max(0px, min(500px, max(0.5px, 0.05333333 * (100vw - 15px)))) !important;
  }
    .heading3 {
    font-size: max(0px, min(500px, max(0.5px, 0.048 * (100vw - 0px))));
  }

  
.heading4 {

  font-size: max(0.5px, calc(0.048 * (100vw - 0px)));
}

.heading5 {
    font-size: max(0.5px, 0.0461538 * (100vw - 17px));
}
.heading6 {

    font-size: max(0px, min(500px, max(0.5px, 0.0182101 * (100vw - 17px))));

}

.hero-h {
  font-size: max(0px, min(500px, max(0.5px, calc(0.0641026 * (100vw - 17px)))));
}


  .p1 {
    font-size: max(0.5px, 0.048 * (100vw - 0px))  ;
  }

   .p2,.p2v2 {
    font-size: max(0.5px, 0.0426667 * (100vw - 0px));
  }
    .p3 {
    font-size: max(0.5px, 0.0426667 * (100vw - 0px)) !important;
  }
    .p4 {
    font-size: max(0.5px, 0.0461538 * (100vw - 0px));
  }
   .p5 {
    font-size: max(0.5px, 0.0358974 * (100vw - 15px)) !important;
  }
   .p6 {
    font-size: max(0.5px, 0.0307692 * (100vw - 15px)) !important;
  }
  .p7 {

  font-size: max(0.5px, calc(0.048 * (100vw - 17px)));
}
.p8 {

    font-size: max(0.5px, 0.0104059 * (100vw - 17px));
}
 .span1 {
    font-size: 18px;
  }

    .span2 {
    font-size: max(0.5px, 0.0426667 * (100vw - 0px));
  }
    .span3 {
    font-size: max(0.5px, 0.0358974 * (100vw - 0px));
  }
  .span4{
    font-size: max(0.5px, 0.0410256 * (100vw - 17px));
  }
  .span5{
    font-size: max(0.5px, 0.0358974  * (100vw - 0px));
  }
  .span6 {
    
   
    font-size: min(25px, max(0.5px, 0.007295 * (100vw - 17px)));
    
}
@media screen and (min-width: 320px) {
    .heading6 {
        font-size: max(0px, min(500px, max(0.5px, 0.0512822 * (100vw - 17px)))) !important;
        line-height: normal !important;
    }
      .p8 {
        font-size: max(0.5px, 0.0410254 * (100vw - 17px));
    }
     .span6 {
        font-size: 15px !important;
    }
}

@media screen and (min-width: 750px)  {
  .heading1 {
    font-size: max(0px, min(500px, max(0.5px, 0.0398406 * (100vw - 15px))))  ;
  }
   .heading2 {
    font-size: max(0.5px, 0.0332005 * (100vw - 0px)) !important;
  }
  .heading2v2 {
    font-size: max(0px, min(500px, max(0.5px, 0.0398406 * (100vw - 15px)))) !important;
  }
  .heading3 {
    font-size: max(0px, min(500px, max(0.5px, 0.0265604 * (100vw - 0px))));
  }
    .heading4 {
    font-size: max(0.5px, calc(0.0265604 * (100vw - 0px)));
  }
   .heading5 {
        font-size: max(0.5px, 0.0332005 * (100vw - 17px));
    }
     .heading6 {
        font-size: max(0px, min(500px, max(0.5px, 0.0325521 * (100vw - 17px)))) !important;
        line-height: 1.3 !important;
    }
    .hero-h {
  font-size: max(0px, min(500px, max(0.5px, calc(0.0398408 * (100vw - 17px)))));
}
    
  .p1 {
    font-size: max(0.5px, 0.0265604 * (100vw - 0px))  ;
  }
   .p2 ,.p2v2{
    font-size: max(0.5px, 0.0212483 * (100vw - 0px));
  }
   .p3 {
    font-size: max(0.5px, 0.0239044 * (100vw - 0px)) !important;
  }
    .p4 {
    font-size: max(0.5px, 0.0260417 * (100vw - 0px));
  }
    .p5 {
    font-size: max(0.5px, 0.0208333 * (100vw - 15px)) !important;
  }
  .p6 {
    font-size: max(0.5px, 0.0182292 * (100vw - 15px)) !important;
  }
   .p7 {
    font-size: max(0.5px, calc(0.0234375 * (100vw - 17px)));
  }
   .p8 {
        font-size: max(0.5px, 0.0234377 * (100vw - 17px));
    }
      .span1 {
    font-size: 20px;
  }
    .span2 {
    font-size: max(0.5px, 0.0239044 * (100vw - 0px));
  }
    .span3 {
    font-size: max(0.5px, 0.0208333 * (100vw - 0px));
  }
   .span4{
    font-size: max(0.5px, 0.0234375 * (100vw - 17px));
  }
    .span5{
    font-size: max(0.5px, 0.0208333   * (100vw - 0px));
  }
   .span6 {
        font-size: 15px !important;
    }
}

@media screen and (min-width: 1000px) {
  .heading1 {
    font-size: max(0px, min(500px, max(0.5px, 0.0316206 * (100vw - 15px))))  ;
  }
    .heading2 {
    font-size: max(0.5px, 0.0237154 * (100vw - 0px)) !important;
  }
   .heading2v2 {
    font-size: max(0px, min(500px, max(0.5px, 0.0316206 * (100vw - 15px)))) !important;
  }
  .heading3 {
    font-size: max(0px, min(500px, max(0.5px, 0.0158103 * (100vw - 0px))));
  }
    .heading4 {
    font-size: max(0.5px, calc(0.0195313  * (100vw - 0px)));
  }
   .heading5 {
        font-size: max(0.5px, 0.0237154 * (100vw - 17px));
    }
     .heading6 {
        font-size: max(0px, min(500px, max(0.5px, 0.0234374 * (100vw - 17px)))) !important;
        line-height: 1.3 !important;
    }
    .hero-h {
 font-size: max(0px, min(500px, max(0.5px, calc(0.0273438 * (100vw - 17px)))));
}
  .p1 {
    font-size: max(0.5px, 0.0197628 * (100vw - 0px))  ;
  }
   .p2,.p2v2 {
    font-size: max(0.5px, 0.0142292 * (100vw - 0px));
  }
   .p3 {
    font-size: max(0.5px, 0.015625 * (100vw - 0px)) !important;
  }
   .p4 {
    font-size: max(0.5px, 0.0131096 * (100vw - 0px));
  }
    .p5 {
    font-size: max(0.5px, 0.0140625 * (100vw - 15px)) !important;
  }
    .p6 {
    font-size: max(0.5px, 0.0125 * (100vw - 15px)) !important;
  }
    .p7 {
    font-size: max(0.5px, calc(0.0158102 * (100vw - 17px)));
  }
    .p8 {
        font-size: max(0.5px, 0.015625 * (100vw - 17px));
    }
     .span1 {
    font-size: max(0.5px, 0.0158103 * (100vw - 0px));
  }
   .span2 {
    font-size: max(0.5px, 0.0158103 * (100vw - 0px));
  }
    .span3 {
    font-size: max(0.5px, 0.0140625 * (100vw - 0px));
  }
   .span4{
    font-size: max(0.5px, 0.0140625  * (100vw - 17px));
  }
   .span5{
    font-size: max(0.5px, 0.0125   * (100vw - 0px));
  }
    .span6 {
        font-size: min(17px, max(0.5px, 0.0134387 * (100vw - 17px))) !important;
    }
}

@media screen and (min-width: 1920px) {
    .heading2 {
    font-size: max(0.5px, 0.0262192 * (100vw - 0px)) !important;
  }
    .heading3 {
    font-size: max(0.5px, 0.0131096 * (100vw - 0px));
  }
  .heading4 {
    font-size: max(0.5px, calc(0.0102102  * (100vw - 0px)));
  }
  .heading5 {
        font-size: max(0.5px, 0.0182102 * (100vw - 17px));
    }
      .heading6 {
        font-size: max(0px, min(500px, max(0.5px, 0.0182101 * (100vw - 17px)))) !important;
        line-height: 1.3 !important;
    }
     .p2 {
    font-size: max(0.5px, 0.0131096 * (100vw - 0px));
  }
     .p3 {
    font-size: max(0.5px, 0.0131096 * (100vw - 0px)) !important;
  }

     .p2v2 {
    font-size: max(0.5px, 0.0104877 * (100vw - 0px));
  }
      .p4 {
    font-size: max(0.5px, 0.015625 * (100vw - 0px));
  }
   .p7 {
    font-size: max(0.5px, calc(0.0130073 * (100vw - 17px)));
  }
    .p8 {
        font-size: max(0.5px, 0.0104877 * (100vw - 17px));
    }
      .span2 {
    font-size: max(0.5px, 0.0131096 * (100vw - 0px));
  }
      .span3 {
    font-size: max(0.5px, 0.0093652 * (100vw - 0px));
  }
   .span4{
    font-size: max(0.5px, 0.0104058  * (100vw - 17px));
  }
   .span5{
    font-size: max(0.5px, 0.0093652  * (100vw - 0px));
  }
   .span6 {
        font-size: min(20px, max(0.5px, 0.0104877 * (100vw - 17px))) !important;
    }
}


@media screen and (min-width: 3441px) {
    .p8 {
        font-size: max(0.5px, 0.0104059 * (100vw - 17px));
    }
    .span6 {
        font-size: min(25px, max(0.5px, 0.007295 * (100vw - 17px))) !important;
    }
}



.gap-bg{
  background: radial-gradient(circle at 26.136067708333332% 21.608072916666668%, #0C0054 0%, 30.5%, rgba(12,0,84,0) 61%), radial-gradient(circle at 60.634765625% 100%, #0C0054 0%, 25%, rgba(12,0,84,0) 50%), radial-gradient(circle at 9.332682291666666% 77.97200520833333%, #1A6AFF 0%, 42%, rgba(26,106,255,0) 70%), radial-gradient(circle at 92.76204427083333% 14.70703125%, #160770 0%, 60%, rgba(22,7,112,0) 100%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
}

.caseStudy-bg{
  background: radial-gradient(circle at 26.136067708333332% 21.608072916666668%, #0C0054 0%, 30.5%, rgba(12,0,84,0) 61%), radial-gradient(circle at 60.634765625% 100%, #0C0054 0%, 25%, rgba(12,0,84,0) 50%), radial-gradient(circle at 9.332682291666666% 77.97200520833333%, #1A6AFF 0%, 42%, rgba(26,106,255,0) 70%), radial-gradient(circle at 92.76204427083333% 14.70703125%, #160770 0%, 60%, rgba(22,7,112,0) 100%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
}

.engagementModel-bg{
  background: radial-gradient(circle at 26.136067708333332% 21.608072916666668%, #0C0054 0%, 30.5%, rgba(12,0,84,0) 61%), radial-gradient(circle at 60.634765625% 100%, #0C0054 0%, 25%, rgba(12,0,84,0) 50%), radial-gradient(circle at 9.332682291666666% 77.97200520833333%, #1A6AFF 0%, 42%, rgba(26,106,255,0) 70%), radial-gradient(circle at 92.76204427083333% 14.70703125%, #160770 0%, 60%, rgba(22,7,112,0) 100%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
}
.solution-bg{
  background: radial-gradient(circle at 26.136067708333332% 21.608072916666668%, #0C0054 0%, 30.5%, rgba(12,0,84,0) 61%), radial-gradient(circle at 78.10384114583333% 99.45963541666667%, #0C0054 0%, 25%, rgba(12,0,84,0) 50%), radial-gradient(circle at 9.332682291666666% 77.97200520833333%, #1A6AFF 0%, 42%, rgba(26,106,255,0) 70%), radial-gradient(circle at 92.76204427083333% 14.70703125%, #160770 0%, 60%, rgba(22,7,112,0) 100%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
}


/* animations */

@keyframes slideLeftRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.animate-slide-left-right {
  animation: slideLeftRight 3s ease-in-out infinite;
}

@keyframes slideUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-slide-up-down {
  animation: slideUpDown 3s ease-in-out infinite;
}

@keyframes scalePulse {
  0%, 100% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1);
  }
  70%, 100% {
    transform: scale(1);
  }
}

.animate-scale-pulse {
  animation: scalePulse 4s ease-in-out infinite;
}
@keyframes slowScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.93);
  }
  100% {
    transform: scale(1);
  }
}

.animate-slow-scale {
  animation: slowScale 5s ease-in-out infinite;
}